<h1>Thanks for signing up, <%= @user.first_name %>!</h1>

<p>Hello! This is the ghost of Martin Luther King, and I want to personally
  thank you for joining Cyborgism.com!</p>

  <p>Now sign in and become the 'borg you were meant to be!</p>
  
