<h3>Business Order History</h3>
<table class="table table-striped table-bordered">
  <thead>
    <td>Order Number</td>
    <td>Date Created</td>
    <td>Status</td>
    <td>Username</td>
  </thead>
  <% @reservations.each do |reservation| %>
    <tbody>
      <td><%= reservation.order.id %></td>
      <td><%= reservation.order.status %></td>
      <td><%= reservation.order.created_at %></td>
      <td><%= reservation.order.user.username %></td>
    </tbody>
  <% end %>
</table>
