<nav class="navbar navbar-default">
  <div class="navbar-header">
    <a class="navbar-brand">Logged in as <%= current_user.username %></a>
  </div>
</nav>

<div class="container-fluid">
  <p style="color: white">
    Username: <%= current_user.username %>
  </p>
</div>
