<h1>Order History</h1>
<% @orders.each do |order| %>
<div class="row col-md-12 top-row">
  <li>Order # <%=link_to order.id, order_path(order)%></li>
  <% order.items.each do |item| %>
</div>
<% end %>
<% end %>
