<h1>Order History</h1>

<% @orders.each do |order| %>
  <% order.items.each do |item| %>
  <div class="row col-md-12 top-row">
  <%= link_to order.id, order_path(order) %>
  <%=  %>
</div>
  <% end %>
<% end %>
