<div class='page-header location-header' id='<%= get_location(@properties).slug %>-header'>
  <div class='col-xs-5 line'><hr></div>
  <div class='col-xs-2 line city-header'>
    <p><%= get_location(@properties).city %></p>
  </div>
  <div class='col-xs-5 line'><hr></div>
</div>
<%= render partial: 'shared/properties', locals: { name: get_location(@properties).city }%>
