body {
  background-image: url("https://images4.alphacoders.com/119/11906.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.well{
  background-color: rgba(255,255,255,.50) !important;
}
