<div class='filter'>
  <%= text_field :property, :filter_name, class: 'input-lg', placeholder: 'Search by Property'%>
</div>
<p style='text-align:center;'>or...</p>
<div id='options-button'>
  <a href='/more-options' class='btn btn-warning'>
    View more options
  </a>
</div>
