<div class='navbar navbar-default navbar-fixed-left' role='navigation'>
  <ul class='nav navbar-nav'>
    <li>
      <div class='col-md-8' id='price-slider'>
        <p id='range-text'>
        <label for='amount'>Price Range:</label>
        <input type='text' id='amount' readonly style-'border:0; color:#f6931f; font-weight:bold;'>
        </p>

        <div id='slider-range'></div>
      </div>
    </li>
    <li>
      <div class='row' id='dates'>
        <%= text_field_tag :starting_date, Time.now.strftime("%m/%d/%Y"), id: "start-filter", readonly: true %>
        <%= text_field_tag :end_date, Time.now.tomorrow.strftime("%m/%d/%Y"), id: "end-filter", readonly: true %>
      </div>
    </li>
  </ul>
</div>
