<div class='navbar navbar-default navbar-fixed-left' role='navigation'>
  <ul class='nav navbar-nav'>
    <li>
      <div class='col-md-8' id='price-slider'>
        <p id='range-text'>
        <label for='amount'>Price Range:</label>
        <input type='text' id='amount' readonly style-'border:0; color:#f6931f; font-weight:bold;'>
        </p>

        <div id='slider-range'></div>
      </div>
    </li>
    <%# <li> %>
    <%#   <div class='row' id='dates'> %>
    <%#     <input type='text' id='datepicker1' name='start-date' placeholder='Start Date'> %>
    <%#     <br> %>
    <%#     <input type='text' id='datepicker2' name='end-date' placeholder='End Date'> %>
    <%#   </div> %>
    <%# </li> %>
  </ul>
</div>
